<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static//login.css">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
     <center><p style="color: #007bff;">{{ messages }}</p></center>
    {% endfor %}
   
  {% endif %}
{% endwith %}
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="username">email</label>
                <input type="email" id="username" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        
        </form>
        <br><br>
        <a href="{{url_for('forgot')}}"> <button type="forgotpassword">forgotpassword</button>
    </div>
</body>
</html>
